
<!DOCTYPE html>
<head>
</head>
<body>
   <div id="container">
    <header>
        <nav class="nav">
            <a routerLink="/home-page" style="text-decoration: none"><h2 class="home">TRANG CHỦ</h2></a>
            <a routerLink="/parents" style="text-decoration: none"><h2 class="parent">PHỤ HUYNH</h2></a>
            <a routerLink="/tutor" style="text-decoration: none"><h2 class="tutor">GIA SƯ</h2></a>
            <a><img src="../../assets/images/ioc-header.jpg" class="icon"></a>
            <a routerLink="/class-new" style="text-decoration: none"><h2 class="class" >LỚP MỚI</h2></a>
            <a routerLink="/recruitment" class="recruitment" style="text-decoration: none"><h2>TUYỂN DỤNG</h2></a>
            <a routerLink="/contact" style="text-decoration: none"><h2 class="contact">LIÊN HỆ</h2></a>

        </nav>
    </header>
   </div>
</body>

<router-outlet></router-outlet>
