.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 60px; */
    gap: 30px;
    
    
}

main {
    max-width: 100%;
    margin: 60px auto;
    padding: 20px;
}



.card {
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    height: 100%;
}
.card-subject{
    display: inline-block; /* hoặc display: inline; */
  margin-right: 10px;
    
}
