<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="class-section">
        <div class="col small-12">
            <div class="breadcrumbs">
                <p id="breadcrumbs">
                    <span>
                        <a href="" style="color: rgba(102,102,102,.7); text-decoration: none; ">Trang chủ</a>
                        <span style="font-size: 10px;    font-size: 13px;
                        margin-left: 4px;
                    ">>></span>
                        <span class="breadcrumb_last" aria-current="page">
                            Danh Sách Lớp Mới
                        </span>
                    </span>
                </p>
            </div>
            <div class="filter">
                <div class="text-filter">
                    <h5 style="color: #555;  margin-bottom: 0.5em; text-rendering: optimizeSpeed; font-size: inherit;">
                        <i class="fa fa-filter"></i> Bộ lọc
                    </h5>
                </div>
                <form  class="form-filter" [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata)">
                    <select formControlName="subject" class="menu">
                        <option >Chọn môn học</option>
                    <option value="option2">Văn</option>
                    <option value="option3">Anh</option>
                    <option value="option4">Sử</option>
                      </select>
                      <select formControlName="city" class="menu">
                        <option >Chọn tỉnh/thành</option>
                    <option value="option2">Văn</option>
                    <option value="option3">Anh</option>
                    <option value="option4">Sử</option>
                      </select>
                      <select formControlName="district" class="menu">
                        <option >Chọn quận/huyện</option>
                    <option value="option2">Văn</option>
                    <option value="option3">Anh</option>
                    <option value="option4">Sử</option>
                      </select>
                      <select formControlName="level_school" class="menu">
                        <option >Chọn cấp học</option>
                    <option value="option2">Văn</option>
                    <option value="option3">Anh</option>
                    <option value="option4">Sử</option>
                      </select>
                      <select formControlName="level" class="menu">
                        <option >Chọn trình độ</option>
                    <option value="option2">Văn</option>
                    <option value="option3">Anh</option>
                    <option value="option4">Sử</option>
                      </select>
                      <select formControlName="sex" class="menu">
                        <option >Yêu Cầu Giới Tính</option>
                    <option value="option2">Văn</option>
                    <option value="option3">Anh</option>
                    <option value="option4">Sử</option>
                      </select>
                    <button class="btn-filter" type="submit"> <i class="fa fa-filter"></i> Lọc</button>
                </form>
            </div>
        </div>
        <div class="total-result">
            <p>Có 128 kết quả</p>
        </div>
        <main class="grid">
            <div *ngFor="let class of data">
                <div class="card">
                    <div class="card-header">
                        <h3><a href="/" style="text-decoration: none">{{class.id}}</a></h3>
                    </div>

                    <div *ngFor="let tmp of class.subjects" class="card-subject">
                        <p>{{tmp.subject}}</p>
                    </div>
                    <p>{{class.districts}}</p>
                    <p>{{class.price}}</p>
                    <p>{{class.timeTeach}}</p>
                    <p>{{class.request}}</p>
                    <div class="card-footer"><button>Xem chi tiết</button></div>
                </div>
            </div>
        </main>
    </div>

</body>

</html>
