<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header class="grid">
            <h1>Có 3 kết quả</h1>
            <!-- <nav>
                <a href="/">Home</a>
                <a href="/">About</a>
                <a href="/">ConTact</a>
            </nav> -->
        </header>
        <main class="grid"  >
           <div *ngFor="let class of data">
            <div class="card">
                <div class="card-header">
                    <h3><a href="/" style="text-decoration: none">{{class.id}}</a></h3>
                </div>
                
                <div *ngFor="let tmp of class.subjects" class="card-subject">
                    <p>{{tmp.subject}}</p>
                </div>
                <p>{{class.districts}}</p>
                <p>{{class.price}}</p>
                <p>{{class.timeTeach}}</p>
                <p>{{class.request}}</p>
                <div class="card-footer"><button>Xem chi tiết</button></div>  
            </div>
        </div>
        </main>
    </body>
</html>
