<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="class-section">
        <div class="col small-12">
            <div class="breadcrumbs">
                <p id="breadcrumbs">
                    <span>
                        <a href="" style="color: rgba(102,102,102,.7); text-decoration: none; ">Trang chủ</a>
                        <span style="font-size: 10px;    font-size: 13px;
                        margin-left: 4px;
                    ">>></span>
                        <span class="breadcrumb_last" aria-current="page">
                            Danh Sách Lớp Mới
                        </span>
                    </span>
                </p>
            </div>
            <div class="filter">
                <div class="text-filter">
                    <h5 style="color: #555;  margin-bottom: 0.5em; text-rendering: optimizeSpeed; font-size: inherit;">
                        <i class="fa fa-filter"></i> Bộ lọc
                    </h5>
                </div>
                <form  class="form-filter" [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata)">
                    <select formControlName="subject" class="menu">
                        <option >Chọn môn học</option>
                    <option value="option2">Văn</option>
                    <option value="option3">Anh</option>
                    <option value="option4">Sử</option>
                      </select>
                      <select formControlName="city" class="menu">
                        <option >Chọn tỉnh/thành</option>
                    <option value="option2">Văn</option>
                    <option value="option3">Anh</option>
                    <option value="option4">Sử</option>
                      </select>
                      <select formControlName="district" class="menu">
                        <option >Chọn quận/huyện</option>
                    <option value="option2">Văn</option>
                    <option value="option3">Anh</option>
                    <option value="option4">Sử</option>
                      </select>
                      <select formControlName="level_school" class="menu">
                        <option >Chọn cấp học</option>
                    <option value="option2">Văn</option>
                    <option value="option3">Anh</option>
                    <option value="option4">Sử</option>
                      </select>
                      <select formControlName="level" class="menu">
                        <option >Chọn trình độ</option>
                    <option value="option2">Văn</option>
                    <option value="option3">Anh</option>
                    <option value="option4">Sử</option>
                      </select>
                      <select formControlName="sex" class="menu">
                        <option >Yêu Cầu Giới Tính</option>
                    <option value="option2">Văn</option>
                    <option value="option3">Anh</option>
                    <option value="option4">Sử</option>
                      </select>
                    <button class="btn-filter" type="submit"> <i class="fa fa-filter"></i> Lọc</button>
                </form>
            </div>
        </div>
        <div class="total-result">
            <p>Có {{total}} kết quả</p>
        </div>
        <main class="grid">
            <div *ngFor="let class of data">
                <div class="card">
                    <div class="card-header">
                        <h3 style="margin-right: 4px;"><a href="/" style="text-decoration: none">{{class.id}}</a></h3>
                    </div>
                    <div *ngFor="let tmp of class.subjects" class="card-subject">
                       <a href="" style="display: flex; text-decoration: none;"><i class="fa fa-book" style="margin: 6px 2px 0px 0px;"></i> <p> {{tmp.subject}}</p></a> 
                    </div>
                     <div class="car-boy" style="height: 271px; width: 280px; border-bottom: 0.5px solid blue;">
                    <p  class="car-text-boy"><i class="fa fa-map-pin" style="padding-right: 2px;"></i> {{class.districts}}</p>
                    <p  class="car-text-boy"><i class="fa fa-dollar-sign"></i> {{class.price}}</p>
                    <p class="car-text-boy"><i class="fa fa-clock" style="padding-right: 2px;"></i>{{class.timeTeach}}</p>
                    <p  class="car-text-boy"><i class="fa-regular fa-bookmark" style="padding-right: 2px;"></i>{{class.request}}</p>
                </div>
                <div class="card-footer">
                    <div class="card-footer-left" ><a href="" style="text-decoration: none;">Nhận lớp</a></div>
                    <div class="card-footer-right" ><a href="" style="text-decoration: none;" >Xem chi tiết</a></div>
                </div>
                </div>
                
            </div>
               
        </main>
        <div class="food-filter" >
            <button style="height: 30px;width: 30px; border: none; border-radius: 50%; cursor: pointer;" ><i class="fa-solid fa-angle-left"></i></button>
            <ul style="display: inline-flex;list-style: none; " *ngFor="let page of numbers">
                <li style="height: 30px; width: 30px; border-radius: 50%; border: 0.5px solid black; margin: 2px 5px 2px 5px;"><button class="button-food-card" style="border: none;" (click)="nextPage(page)">{{page}}</button></li>
                
            </ul>
            
            <button style="height: 30px;width: 30px; border: none; border-radius: 50%; cursor: pointer;"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>

</body>

</html>
