<div class="comments-area">
        <div class="comment-feedback">
                <div class="comment-feedback-header">
                        <div class="comment-feedback-icon">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                        </div>
                        <div class="comment-feedback-text">4.4/5 - (5 bình chọn) </div>
                </div>
                <div class="comments-feedback-title" style="color: #555555;font-size: 30px;font-weight: bolder;">

                        14 thoughts on “Gia sư online”
                </div>
                <div class="comment-feedback-list">
                        <div class="user-request">
                                <cite class="strong fn">thoa kim</cite> <span class="says"> says: </span>
                                <div class="comment-content">
                                        <p>tôi muốn tìm gia sư toán online cho học sinh lớp 12</p>
                                </div>
                                <div class="comment-time-reply" style="display: flex;gap: 900px;">
                                        <a href="https://giasutienphong.com.vn/gia-su-online#comment-15094"><time style="color: #334862;
                                                text-decoration: none;" datetime="2021-07-21T19:30:10+07:00">
                                                        21/07/2021 at 19:30 </time></a>
                                        <div class="">
                                                <a rel="" class="comment-reply-link" href="" data-commentid="15094">Trả
                                                        lời</a>
                                        </div>
                                </div>
                        </div>
                        <div class="tech-anwser">
                                <div class="flex-col">
                                        <div class="comment-author mr-half">
                                        </div>
                                </div>

                                <div class="flex-col flex-grow">
                                        <cite class="strong fn"><a href="https://giasutienphong.com.vn" class="url"
                                                        rel="ugc">Gia Sư Tiên Phong</a></cite> <span
                                                class="says">says:</span>
                                        <div class="comment-content">
                                                <p>Chào chị Kim, cám ơn chị đã quan tâm dịch vụ gia sư toán online. Bên
                                                        e có đội ngũ gia sư toán chuyên dạy online chương trình 12 ạ.
                                                        Chị Kim có thể để lại số đt hoặc liên hệ 0903.103.800 (có zalo)
                                                        để bên em tư vấn gia sư toán lớp 12 ạ</p>
                                        </div>


                                        <div class="comment-meta commentmetadata uppercase is-xsmall clear">
                                                <a href="https://giasutienphong.com.vn/gia-su-online#comment-15098"><time
                                                                datetime="2021-07-21T22:00:36+07:00" class="pull-left">
                                                                21/07/2021 at 22:00 </time></a>

                                                <div class="reply pull-right">
                                                </div>
                                        </div>

                                </div>
                        </div>
                </div>
                <div class="comment-feedback-list">
                        <div class="user-request">
                                <cite class="strong fn">thoa kim</cite> <span class="says"> says: </span>
                                <div class="comment-content">
                                        <p>tôi muốn tìm gia sư toán online cho học sinh lớp 12</p>
                                </div>
                                <div class="comment-time-reply" style="display: flex;gap: 900px;">
                                        <a href="https://giasutienphong.com.vn/gia-su-online#comment-15094"><time style="color: #334862;
                                                text-decoration: none;" datetime="2021-07-21T19:30:10+07:00">
                                                        21/07/2021 at 19:30 </time></a>
                                        <div class="">
                                                <a rel="" class="comment-reply-link" href="" data-commentid="15094">Trả
                                                        lời</a>
                                        </div>
                                </div>
                        </div>
                        <div class="tech-anwser">
                                <div class="flex-col">
                                        <div class="comment-author mr-half">
                                        </div>
                                </div>

                                <div class="flex-col flex-grow">
                                        <cite class="strong fn"><a href="https://giasutienphong.com.vn" class="url"
                                                        rel="ugc">Gia Sư Tiên Phong</a></cite> <span
                                                class="says">says:</span>
                                        <div class="comment-content">
                                                <p>Chào chị Kim, cám ơn chị đã quan tâm dịch vụ gia sư toán online. Bên
                                                        e có đội ngũ gia sư toán chuyên dạy online chương trình 12 ạ.
                                                        Chị Kim có thể để lại số đt hoặc liên hệ 0903.103.800 (có zalo)
                                                        để bên em tư vấn gia sư toán lớp 12 ạ</p>
                                        </div>


                                        <div class="comment-meta commentmetadata uppercase is-xsmall clear">
                                                <a href="https://giasutienphong.com.vn/gia-su-online#comment-15098"><time
                                                                datetime="2021-07-21T22:00:36+07:00" class="pull-left">
                                                                21/07/2021 at 22:00 </time></a>

                                                <div class="reply pull-right">
                                                </div>
                                        </div>

                                </div>
                        </div>
                </div>
                <div class="comment-feedback-list">
                        <div class="user-request">
                                <cite class="strong fn">thoa kim</cite> <span class="says"> says: </span>
                                <div class="comment-content">
                                        <p>tôi muốn tìm gia sư toán online cho học sinh lớp 12</p>
                                </div>
                                <div class="comment-time-reply" style="display: flex;gap: 900px;">
                                        <a href="https://giasutienphong.com.vn/gia-su-online#comment-15094"><time style="color: #334862;
                                                text-decoration: none;" datetime="2021-07-21T19:30:10+07:00">
                                                        21/07/2021 at 19:30 </time></a>
                                        <div class="">
                                                <a rel="" class="comment-reply-link" href="" data-commentid="15094">Trả
                                                        lời</a>
                                        </div>
                                </div>
                        </div>
                        <div class="tech-anwser">
                                <div class="flex-col">
                                        <div class="comment-author mr-half">
                                        </div>
                                </div>

                                <div class="flex-col flex-grow">
                                        <cite class="strong fn"><a href="https://giasutienphong.com.vn" class="url"
                                                        rel="ugc">Gia Sư Tiên Phong</a></cite> <span
                                                class="says">says:</span>
                                        <div class="comment-content">
                                                <p>Chào chị Kim, cám ơn chị đã quan tâm dịch vụ gia sư toán online. Bên
                                                        e có đội ngũ gia sư toán chuyên dạy online chương trình 12 ạ.
                                                        Chị Kim có thể để lại số đt hoặc liên hệ 0903.103.800 (có zalo)
                                                        để bên em tư vấn gia sư toán lớp 12 ạ</p>
                                        </div>


                                        <div class="comment-meta commentmetadata uppercase is-xsmall clear">
                                                <a href="https://giasutienphong.com.vn/gia-su-online#comment-15098"><time
                                                                datetime="2021-07-21T22:00:36+07:00" class="pull-left">
                                                                21/07/2021 at 22:00 </time></a>

                                                <div class="reply pull-right">
                                                </div>
                                        </div>

                                </div>
                        </div>
                </div>
        </div>
        <div class="comment-respond">
                <h3 class="comment-reply-title">Trả lời <small><a href="" style="display:none;">Hủy</a></small></h3>
                <form action="" method="post" class="comment-form">
                        <p class="comment-notes"><span>Email của bạn sẽ không được hiển thị công khai.</span> <span
                                        class="required-field-message">Các trường bắt buộc được đánh dấu <span
                                                class="required">*</span></span>
                        </p>
                        <p class="comment-form-comment"><label for="comment">Bình luận <span
                                                class="required">*</span></label>
                                <textarea id="myTextarea" class="comment" name="comment"></textarea>
                        </p>
                        <div class="comment-form-input">
                                <p class="comment-form-input-childen"><label for="author">Tên <span
                                                        class="required">*</span></label>
                                        <input class="input-comment" id="author" name="author" type="text" value=""
                                                size="30" maxlength="245" autocomplete="name" required=""
                                                spellcheck="false" data-ms-editor="true">
                                </p>
                                <p class="comment-form-input-childen"><label for="email">Email <span
                                                        class="required">*</span></label>
                                        <input class="input-comment" id="email" name="email" type="email" value=""
                                                size="30" maxlength="100" aria-describedby="email-notes"
                                                autocomplete="email" required="">
                                </p>
                                <p class="comment-form-input-childen"><label for="url">Trang web</label> <input
                                                class="input-comment" class="input-comment" id="url" name="url"
                                                type="url" value="" size="30" maxlength="200" autocomplete="url"></p>
                        </div>

                        <p class="comment-subscription-form"><input type="checkbox" name="subscribe_blog"
                                        id="subscribe_blog" value="subscribe"
                                        style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;">
                                <label class="subscribe-label" id="subscribe-blog-label" for="subscribe_blog">Notify me
                                        of new
                                        posts by
                                        email.</label>
                        </p>
                        <button class="form-submit">Phản Hồi</button>


                </form>
        </div>
</div>